@font-face {
	font-family:"DIN Pro Light";
	font-style:normal;
	font-weight:300;
	src : url("../../font/DINPro-Light.otf");
}
@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/MinionPro-Regular.otf");
}
@font-face {
	font-family:"Roboto Bk";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/Roboto-Black.ttf");
}
@font-face {
	font-family:"Roboto Lt";
	font-style:normal;
	font-weight:300;
	src : url("../../font/Roboto-Light.ttf");
}
@font-face {
	font-family:"Roboto Condensed";
	font-style:normal;
	font-weight:bold;
	src : url("../../font/RobotoCondensed-Bold.ttf");
}
@font-face {
	font-family:"Roboto Condensed Light";
	font-style:normal;
	font-weight:300;
	src : url("../../font/RobotoCondensed-Light.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Marco-gr-fico-b-sico {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Marco-de-texto-b-sico {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#274c77;
	font-family:"Roboto Condensed", sans-serif;
	font-size:220px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Roboto Condensed", sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Roboto Condensed Light", sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Roboto Condensed Light", sans-serif;
	font-size:220px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Roboto Condensed", sans-serif;
	font-size:220px;
	font-style:normal;
	font-weight:bold;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:768.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1024.00px;
}
#_idContainer001 {
	-ms-transform:translate(245.649px,174.178px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(245.649px,174.178px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:299.64px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(245.649px,174.178px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(245.649px,174.178px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:532.70px;
}
#_idContainer002 {
	-ms-transform:translate(0.000px,-8.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-8.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:792.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-8.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-8.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:248.52px;
}
#_idContainer003 {
	-ms-transform:translate(28.419px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(28.419px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:86.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(28.419px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(28.419px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:83.27px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,37.868px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,37.868px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:63.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,37.868px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,37.868px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:37.62px;
}
#_idContainer005 {
	-ms-transform:translate(16.465px,53.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(16.465px,53.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(16.465px,53.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(16.465px,53.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:35.53px;
}
#_idContainer006 {
	-ms-transform:translate(31.730px,67.883px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(31.730px,67.883px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:50.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(31.730px,67.883px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(31.730px,67.883px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:37.28px;
}
#_idContainer007 {
	-ms-transform:translate(51.016px,77.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(51.016px,77.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(51.016px,77.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(51.016px,77.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:38.00px;
}
#_idContainer008 {
	-ms-transform:translate(62.238px,83.479px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.238px,83.479px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:53.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.238px,83.479px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.238px,83.479px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:48.25px;
}
#_idContainer009 {
	-ms-transform:translate(187.716px,-17.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(187.716px,-17.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:137.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(187.716px,-17.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(187.716px,-17.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.69px;
}
#_idContainer010 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/10.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:120.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1024.00px;
}
#_idContainer011 {
	-ms-transform:translate(775.480px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(775.480px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:120.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(775.480px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(775.480px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:90.43px;
}
#_idContainer012 {
	-ms-transform:translate(42.519px,143.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,143.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:458.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,143.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,143.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:167.65px;
}
#_idContainer013 {
	-ms-transform:translate(295.000px,143.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(295.000px,143.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:326.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(295.000px,143.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(295.000px,143.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:686.48px;
}
#_idContainer014 {
	-ms-transform:translate(307.196px,74.864px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(307.196px,74.864px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(307.196px,74.864px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(307.196px,74.864px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:83.68px;
}
#_idContainer015 {
	-ms-transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:768.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1024.00px;
}
#_idContainer016 {
	-ms-transform:translate(43.066px,47.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(43.066px,47.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(43.066px,47.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(43.066px,47.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:289.26px;
}
#_idContainer017 {
	-ms-transform:translate(110.000px,106.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(110.000px,106.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:76.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(110.000px,106.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(110.000px,106.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:804.00px;
}
#_idContainer018, #_idContainer020, #_idContainer022, #_idContainer024, #_idContainer026, #_idContainer028, #_idContainer032, #_idContainer036, #_idContainer040, #_idContainer044 {
	-ms-transform:translate(-2.349px,-1.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-2.349px,-1.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:72.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-2.349px,-1.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-2.349px,-1.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:202.32px;
}
#_idContainer019 {
	-ms-transform:translate(534.515px,395.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(534.515px,395.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/16.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:74.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(534.515px,395.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(534.515px,395.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
#_idContainer021 {
	-ms-transform:translate(534.515px,491.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(534.515px,491.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/17.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:74.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(534.515px,491.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(534.515px,491.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
#_idContainer023 {
	-ms-transform:translate(534.515px,588.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(534.515px,588.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/18.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:74.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(534.515px,588.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(534.515px,588.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
#_idContainer025 {
	-ms-transform:translate(289.529px,395.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(289.529px,395.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/19.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:74.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(289.529px,395.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(289.529px,395.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
#_idContainer027 {
	-ms-transform:translate(289.529px,491.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(289.529px,491.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/20.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:74.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(289.529px,491.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(289.529px,491.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
#_idContainer029 {
	-ms-transform:translate(289.529px,588.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(289.529px,588.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/21.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:74.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(289.529px,588.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(289.529px,588.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
#_idContainer030 {
	-ms-transform:translate(298.759px,403.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(298.759px,403.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(298.759px,403.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(298.759px,403.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:70.64px;
}
#_idContainer031 {
	-ms-transform:translate(296.283px,456.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(296.283px,456.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(296.283px,456.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(296.283px,456.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:176.17px;
}
#_idContainer033 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/24.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:74.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
#_idContainer034 {
	-ms-transform:translate(60.912px,48.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(60.912px,48.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(60.912px,48.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(60.912px,48.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:137.64px;
}
#_idContainer035 {
	-ms-transform:translate(289.529px,203.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(289.529px,203.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:74.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(289.529px,203.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(289.529px,203.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
#_idContainer037 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/26.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:74.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
#_idContainer038 {
	-ms-transform:translate(65.882px,52.287px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.882px,52.287px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.882px,52.287px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.882px,52.287px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:125.86px;
}
#_idContainer039 {
	-ms-transform:translate(534.515px,203.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(534.515px,203.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:74.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(534.515px,203.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(534.515px,203.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
#_idContainer041 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/28.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:74.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
#_idContainer042 {
	-ms-transform:translate(68.450px,54.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(68.450px,54.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(68.450px,54.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(68.450px,54.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.64px;
}
#_idContainer043 {
	-ms-transform:translate(289.529px,299.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(289.529px,299.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:74.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(289.529px,299.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(289.529px,299.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
#_idContainer045 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/30.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:74.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
#_idContainer046 {
	-ms-transform:translate(66.359px,54.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(66.359px,54.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(66.359px,54.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(66.359px,54.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:123.87px;
}
#_idContainer047 {
	-ms-transform:translate(534.515px,299.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(534.515px,299.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:74.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(534.515px,299.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(534.515px,299.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:200.71px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
img._idGenObjectAttribute-3 {
	-ms-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	min-width:100%;
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
div._idGenObjectAttribute-4 {
	height:300px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:533px;
}
div._idGenObjectAttribute-5 {
	height:120px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:1024px;
}
div._idGenObjectAttribute-6 {
	height:69px;
	left:2.54px;
	overflow:hidden;
	position:absolute;
	top:2.54px;
	width:196px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
